################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/web-playground/copilot-chat/644e353f/sessions
/.vs/web-playground/CopilotIndices/17.14.1091.29919
/.vs/web-playground/FileContentIndex
/.vs
