body, html {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  overflow: hidden;
  display: flex;
  height: 100%;
}

.sidebar {
  width: 200px;
  padding: 10px;
  background: #f0f0f0;
  box-sizing: border-box;
}

.grid {
  max-width: 90vw;  /* max 90% of viewport width */
  max-height: 90vh; /* max 90% of viewport height */
  box-sizing: border-box;
  flex-grow: 1;
  display: grid;
  gap: 4px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

.cell {
  background-color: #ddd;
  border: 1px solid #aaa;
  box-sizing: border-box; /* so border doesn’t increase size */
  border-radius: 8%;
}
