body, html {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  overflow: hidden;
  display: flex;
  height: 100%;
}

.sidebar {
  width: 200px;
  padding: 10px;
  background: #f0f0f0;
  box-sizing: border-box;
}

.grid {
  flex-grow: 1;
  display: grid;
  gap: 4px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

.cell {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 8%;
}

.cell.UNTOUCHED {
  background-color: #dad;
  border-color: #ccc;
}

.cell.EMPTY {
  background-color: #eee;
  border-color: #ccc;
}

.cell.START {
  background-color: #f90;
  border-color: #c60;
  color: white;
}

.cell.STICKY {
  background-color: #9cf; /* light blue */
  border-color: #6ab;
}

.cell.BLOCK {
  background-color: #555;
  border-color: #333;
}

.cell.ONEWAY {
  background-color: #fc9; /* light orange */
  border-color: #e96;
}

.cell.TELEPORTER {
  background-color: #c9f; /* purple-ish */
  border-color: #96c;
}
